<customheader showBackButton="false"></customheader>

<ion-content class="body">
  	<div class="content_body">
      <div class="grid-top">
        <div class="logoImageBlock">
          <img class="logoImage" src="assets/imgs/teapot.png"/>
        </div>
        <div class="bigTextLine">ЧАЙНИК</div>
        <div class="smallTextLine">от ученика до водителя</div>
      </div>
      <div class="buttons_block grid-bottom">
        <button class="button_dark startpage__button-start" (click)="openPage()">Начать</button>
      </div>
	</div>
</ion-content>
