page-registrationinstructor1 {
  .input_background_registration{
    margin-top: 3vw;
  }
  .input_background_registration--first {
    margin-top: 10vw;
  }
  .body{
    background: #fff;
  }
  .input{
    color: black;
  }
  .ProfileImage{
      width: 100%;
      margin: auto auto;
      border-radius: 50%;
  }
  .registration-instructor__button {
    margin-top: 17vw;
  }
  .grid-top_reg1 {
    position: absolute;
    top: 15vw;
    width: 100%;
  }
}
