<customheader (onBack)="closePage()" title="Регистрация"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top_reg1">
      <div class="smallTopImageBlock">
        <img class="ProfileImage" [src]="imageSrc" (click)="selectPhotoType()"/>
      </div>
      <form [formGroup] = "RegisterInstructor" (ngSubmit)="logForm()">
        <div class="input_background input_background_registration input_background_registration--first">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(1)" formControlName="name" type="text" class="input inputPassword" placeholder="Имя и фамилия">
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe911;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(2)" (focus)="focusMask(phone)" [textMask]="{mask: mask}" formControlName="tel" name="phone" type="tel" class="input inputPassword" placeholder="Телефон" #phone/>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe90b;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(3)" formControlName="password" type="password" class="input inputPassword" placeholder="Пароль" #passwordItem>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe907;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(4)" formControlName="confirmPassword" type="password" class="input inputPassword" placeholder="Подтверждение" #confirmItem>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe907;
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button [disabled]="!RegisterInstructor.valid" class="registration-instructor__button button_dark" (click)="openPage('next')">Далее</button>
    </div>
  </div>
</ion-content>
