customheader {
  .header{
    width: 100vw;
    height: 15vw;
  }
  .toolbar_block{
    width: 100vw;
    height: 15vw;
  }
  .title-block{
    width: 100%;
    position: absolute;
    z-index: 15;
    height: 15vw;
    top: 0;
    display: flex;
  }
  .title{
    margin: auto auto;
    color: #fff;
    font-size: 6vw;
  }
  .block-button{
    position: absolute;
    height: 15vw;
    width: 15vw;
    left: 0;
    z-index: 20;
    top: 0;
  }
  .block-right-button{
    position: absolute;
    height: 15vw;
    width: 15vw;
    right: 0;
    top: 0;
    z-index: 20;
  }
  .img{
    font-family: iconmoon;
    margin: auto auto;
    font-size: 5vw;
  }
  .block-middle-button{
    position: absolute;
    height: 15vw;
    width: 15vw;
    margin-right: 15vw;
    right: 0;
    top: 0;
    z-index: 20;
  }
  .header-button{
    width: 100%;
    height: 100%;
    background: #5580A3;
    font-family: iconmoon;
    display: flex;
    font-size: 8vw;
    color: #fff;
    text-align: center;
    position: relative;
  }
  /*.header-button:hover:before {
    background: rgba(255,255,255,0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }*/
}
