<div class="header">
    <div class="toolbar_block">
      <div *ngIf="backButtonVisibility" class="block-button">
        <button (click)="back()" class="header-button">
          <div class="img">{{backButtonSymbol}}</div>
        </button>
      </div>
      <div class="title-block">
        <div class="title">{{title}}</div>
      </div>
      <div *ngIf="middleButtonVisibility" class="block-middle-button">
        <button (click)="middleButton()" class="header-button">
          <div class="img">{{middleButtonSymbol}}</div>
        </button>
      </div>
      <div *ngIf="rightButtonVisibility" class="block-right-button">
        <button (click)="rightButton()" class="header-button">
          <div class="img">{{rightButtonSymbol}}</div>
        </button>
      </div>
    </div>
</div>
