page-registrationinstructor2 {
  .body{
    overflow: hidden!important;
  }
  .ProfileImage {
    border-radius: 50%;
  }
  .input_background_registration{
    margin-top: 3vw;
    width: 90%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  .grid-top{
    width: 90%;
    margin: 0 auto;
  }
  .selectYear{
    width: 100%;
    font-size: 4.5vw;
    color: #0D6B82;
    background: #fff;
    border: none;
    flex: 1;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .label{
    font-size: 5vw;
    font-family: Roboto-Light, "Helvetica Neue", sans-serif !important;
    color: #0D6B82 !important;
    flex: 12;
  }
  .select-icon-inner{
    color: #0D6B82!important;
  }
  .select-text{display: none!important;}
  .text-input{
    min-height: 20vh!important;
  }
  .text-input::placeholder{
    color: #0D6B82;
  }
  .input-wrapper{
    margin: auto auto;
    height: 10vw !important;
  }
  .item-inner{
    height: 10vw !important;
    padding-right: 2% !important;
  }
  .item-block{
    min-height: 10vw;
    height: 10vw !important;
    padding-left: 5%!important;
    border-radius: 3em !important;
  }
  .MyTextarea{
    border-radius: 0.2em;
    color: #0D6B82;
    //height: 20vh;
    width: 95%;
    -webkit-box-shadow: 0.2em 0.2em 0.2em 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0.2em 0.2em 0.2em 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0.2em 0.2em 0.2em 0 rgba(50, 50, 50, 0.75);
  }
  .content_body1{
    width: 100%;
    height: 100%;
    display: block;
  }
  .registration-instructor__button {
    margin-top: 17vw;
  }
  .reg-select--first .select{
    margin-top: 10vw;
  }
}
