<customheader (onBack)="closePage()" title="Регистрация"></customheader>

<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">

      <div class="smallTopImageBlock">
        <img class="ProfileImage" [src]="imageSrc" (click)="selectPhotoType()"/>
      </div>
      <selectcustom class="reg-select--first" icon="&#xe901;" (onChanged)="onSelectChangeBirth($event)" title="Год рождения" searchtitle="Год рождения" alias="{{ageAlias}}" items="{{birthdayString}}"></selectcustom>
      <selectcustom icon="&#xe910;" (onChanged)="onSelectChangeStart($event)" title="Стаж" alias="{{experienceAlias}}" items="{{start_teachingString}}"></selectcustom>
      <selectcustom icon="&#xe905;" (onChanged)="onSelectChangedSex($event)" title="Пол" items="{{sexs}}"></selectcustom>
      <selectcustom findSymbol="&#xe909;" icon="&#xe906;" (onChanged)="onSelectChangedCity($event)" alias="{{cityAlias}}" title="Город" items="{{cities}}"></selectcustom>
    </div>
    <div class="buttons_block grid-bottom">
      <button [disabled]="!allCheck" class="registration-instructor__button button_dark" (click)="openPage('next')">Далее</button>
    </div>
  </div>
</ion-content>

