<customheader showBackButton="false" (onRightButton)="edit()" title="Профиль" rightButtonSymbol="&#xe903;"></customheader>
<ion-content class="Resultbody">
  <div class="content_body" [ngClass]="{showHide:!profileLoaded}">
    <div class="grid-top">
      <div class="instructorPhotoBlock">
        <img class="instructorPhoto" src="{{photoSrc}}"/>
      </div>
      <div class="input_background input_login_backgound">
        <div class="input-padding">
          <div class="input input_login">{{fio}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe911;
          </div>
        </div>
      </div>
      <div class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{phone}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe90b;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">c {{startYear}} г.</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe910;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{birthYear}} г.р.</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe901;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{sex}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe905;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{city}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe906;
          </div>
        </div>
      </div>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_dark" (click)="viewAuto()">Автомобили</button>
      <div  class="bottom-block">
        <div class="left" (click)="viewReviews()">{{reviews}} <span>{{reviewsFormat}}</span></div>
        <div class="right">
          <div class="like"><div class="icon-like">&#xe90e;</div> {{likes}} </div>
          <div class="dislike"><div class="icon-dislike">&#xe90f;</div> {{dislikes}}</div>
        </div>
      </div>
    </div>

  </div>

</ion-content>

