page-profileinstructor {
  .Resultbody{
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .showHide{
    display: none;
  }
  .scroll-content{
    //padding-top: 12vw !important;
  }
  .content_body{
    grid-template-rows: minmax(135vw, auto) 63vw;
  }
  .instructorPhotoBlock{
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
  }
  .instructorPhoto{
    width: 100%;
    margin: auto auto;
    border-radius: 50%; 
  }
  .input_login_backgound{
    margin-top: 5vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .bottom-block{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 5vw;
  }
  .left{
    flex: 1;
    float: left;
  }
  .left span{
    color: #5590C3;
    text-decoration: underline;
  }
  .right{
    flex: 1;
    float: right;
    display: flex;
  }
  .like{
    flex: 1;
    display: flex;
    font-size: 5vw;
    padding-right: 5vw;
  }
  .dislike{
    display: flex;
    font-size: 5vw;
    flex: 1;
  }
  .icon-like{
    font-family: iconmoon;
    margin-right: 3vw;

  }
  .icon-dislike{
    font-family: iconmoon;
    margin-right: 3vw;
  }
}
