page-studentauthpage{
  .lineBlock{
    width: 95%;
  }
  .line{
    line-height: 7vw;
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
  }
  .input_login_backgound{
    margin-top: 10vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .body{
    background: #fff;
  }
  .input{
    color: black;
  }
  .button--with-margin {
    margin-top: 17vw;
  }
}
