page-changePassword {
  .invisible-block {
    margin-top: 5vw;
    line-height: 6vw;
    color: transparent;
    padding: 0.5em 0;
    border-bottom: 1px solid transparent;
    margin-bottom: 10vw;
  }
  .lineBlock{
    width: 95%;
    padding-top: 4vw;
    margin: 0 auto;
    height: 25vw;
  }
  .line{
    line-height: 7vw;
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
  }
  .input_login_backgound{
    margin-top: 10vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .input_background_registration{
    margin-top: 3vw;
  }
  .grid-top_change_pass {
    position: absolute;
    top: 15vw;
    width: 100%;
  }
}
