<customheader showBackButton='false' title="Восстановление"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top_change_pass">
      <div class="invisible-block">1</div>
      <div class="lineBlock">
        <div class="line">На ваш мобильный телефон отправлен</div>
        <div class="line">код, введите его ниже, чтобы закончить</div>
        <div class="line">восстановление пароля</div>
      </div>
      <form [formGroup] = "RegisterInstructor" (ngSubmit)="logForm()">
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(1)" formControlName="password" type="password" class="input inputPassword" placeholder="Пароль">
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(2)" formControlName="confirmPassword" type="password" class="input inputPassword" placeholder="Повторите пароль" #confirmItem>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(3)" formControlName="code" class="input inputPassword" type="number" placeholder="Код" #codeItem>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_light" (click)="submitAgain()">Прислать код повторно</button>
      <button [disabled]="!RegisterInstructor.valid" class="button_dark" (click)="sendCode()">Установить пароль</button>
    </div>
  </div>
</ion-content>
