<customheader showBackButton="false"></customheader>

<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="logoImageBlock">
        <img class="logoImage" src="assets/imgs/teapot.png"/>
      </div>
      <div class="bigTextLine">ЧАЙНИК</div>
      <div *ngIf="count > 0">
        <div class="smallTextLine">Добрый день {{username}}!</div>
        <div class="smallTextLine">С последнего визита ваш профиль</div>
        <div class="smallTextLine">просмотрели {{count}} раз!</div>
      </div>
      <div *ngIf="count == 0">
        <div class="smallTextLine">Добрый день {{username}}!</div>
        <div class="smallTextLine">Желаем удачи на дороге!</div>
      </div>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_dark instructorauth__button" (click)="nextPage()">Перейти в профиль</button>
    </div>
  </div>
</ion-content>
