page-checkphone {
  .body{
    background: #fff;
  }
  .lineBlock{
    width: 95%;
    padding-top: 45%;
  }
  .line{
    line-height: 7vw;
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
  }
  .input_login_backgound{
    margin-top: 10vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .input_background_registration{
    margin-top: 3vw;
  }
}
