<customheader showBackButton="false" (onRightButton)="rightButton()" title="Подтверждение"></customheader>

<ion-content class="content_body">
  <div class="content_body">
    <div class="grid-top">
      <div class="lineBlock">
        <div class="line">На ваш мобильный телефон отправлен</div>
        <div class="line">код подтверждения. Введите его для</div>
        <div class="line">завершения регистрации.</div>
      </div>
      <form [formGroup] = "RegisterInstructor" (ngSubmit)="logForm()">
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="closeKeyboard()" formControlName="code" class="input inputPassword" type="number" placeholder="Код">
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_light" (click)="submitAgain()">Прислать код повторно</button>
      <button [disabled]="!RegisterInstructor.valid" class="button_dark" (click)="sendCode()">Зарегистрироваться</button>
    </div>
  </div>
</ion-content>
