page-profileinstructorforstudent{
  .scroll-body{
    overflow-y: auto;
  }
  .showHide{
    display: none;
  }
  .Resultbody{
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .content_body{
    grid-template-rows: minmax(115vw, auto) 63vw;
  }
  .scroll-content{
    //padding-top: 12vw !important;
  }
  .input_login_backgound{
    margin-top: 5vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .bottom-block{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 5vw;
  }
  .left{
    flex: 1;
    float: left;
  }
  .left span{
    color: #5590C3;
    text-decoration: underline;
  }
  .right{
    flex: 1;
    float: right;
    display: flex;
  }
  .like{
    flex: 1;
    display: flex;
    font-size: 5vw;
    padding-right: 5vw;
  }
  .dislike{
    display: flex;
    font-size: 5vw;
    flex: 1;
  }
  .icon-like{
    font-family: iconmoon;
    margin-right: 3vw;

  }
  .icon-dislike{
    font-family: iconmoon;
    margin-right: 3vw;
  }
  .InstructorItem{
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    min-height: 20vw;
    width: 85vw;
  }
  .photo{
    width: 23vw;
    height: 23vw;
    border-radius: 100%;
  }
  .leftItem{
    flex-shrink: 0;
    flex-grow: 0;
  }
  .RightItem{
    flex-grow: 1;
    padding-left: 5vw;
  }
  .topRightItem{
    color: #000;
    height: auto;
    font-size: 7vw;
  }
  .bottomRightItem{
    display: flex;
    width: 100%;
    height: 50%;
    color: #8C8C8C;
    font-size: 5vw;
  }
  .leftBottomItem{
  }
  .leftBottomItemAuto{
    display: flex;
  }
  .text{
    margin: auto 0;
  }
}
