<customheader (onBack)="closePage()" title="Профиль"></customheader>
<ion-content class="Resultbody">
  <div class="content_body" [ngClass]="{showHide:!profileLoaded}">
    <div class="grid-top scroll-body">
      <div  class="InstructorItem">
        <div class="leftItem">
          <div class="PhotoItem"><img class="photo" src="{{photoSrc}}"></div>
        </div>
        <div class="RightItem">
          <div class="topRightItem">
            {{fio}}
          </div>
          <div class="bottomRightItem">
            <div class="leftBottomItem">
              <div class="leftBottomItemAuto"><div class="text">{{phone}}</div></div>
            </div>
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">с {{startYear}} г.</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe910;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{birthYear}} г.р.</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe901;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{sex}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe905;
          </div>
        </div>
      </div>
      <div  class="input_background input_password_backgound">
        <div class="input-padding">
          <div class="input input_login">{{city}}</div>
        </div>
        <div class="input-icon-block">
          <div class="input-icon">
            &#xe906;
          </div>
        </div>
      </div>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_light" (click)="viewAuto()">Автомобили</button>
      <button class="button_dark" (click)="call()">Позвонить</button>
      <div  class="bottom-block">
        <div class="left" (click)="viewReviews()">{{reviews}} <span>{{reviewsFormat}}</span></div>
        <div class="right">
          <div class="like"><div (click)="likeClick()" class="icon-like">&#xe90e;</div><div>{{likes}}</div></div>
          <div class="dislike"><div (click)="dislikeClick()" class="icon-dislike">&#xe90f;</div><div>{{dislikes}}</div></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

