<customheader showBackButton="false"></customheader>

<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="logoImageBlock">
        <img class="logoImage" src="assets/imgs/teapot.png"/>
      </div>
      <div class="bigTextLine">ЧАЙНИК</div>
      <div class="smallTextLine">Добрый день!</div>
      <div class="smallTextLine">Доступна новая версия. Просим вас обновить приложение.</div>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_dark" (click)="nextPage()">Обновить</button>
    </div>
  </div>
</ion-content>
