<customheader showBackButton="{{backbuttonvisibility}}" rightButtonSymbol="{{logoutsrc}}" (onBack)="closePage()" (onRightButton)="logout()" title="Поиск инструктора"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="smallTopImageBlock">
        <img class="smallTopImage" src="assets/imgs/searchinstructor.png"/>
      </div>
      <selectcustom findSymbol="&#xe909;" icon="&#xe906;" (onChanged)="onChangedCity($event)" alias="{{cityAlias}}" title="Город" items="{{cities}}"></selectcustom>
      <selectcustom icon="&#xe902;" (onChanged)="onChangedCategory($event)" title="Категория" items="{{categories}}"></selectcustom>
      <selectcustom icon="&#xe902;" (onChanged)="onChangedManufacturer($event)" title="Производитель" items="{{manufacturers}}"></selectcustom>
      <selectcustom icon="&#xe904;" (onChanged)="onChangedGearbox($event)" title="КПП" items="{{gearboxes}}"></selectcustom>
      <selectcustom icon="&#xe905;" (onChanged)="onChangedSex($event)" title="Пол" items="{{sexs}}"></selectcustom>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_dark searchinstructor__button" (click)="openPage('search')">Найти</button>
    </div>
  </div>
</ion-content>

