<div *ngIf="editorsVisibility" class="SelectItem">
  <customheader class="add-auto-header" (onBack)="closeFunc()" title="{{editorTitle}}"></customheader>
  <div  class="selectedItem">
    <div class="grid-block">
      <div class="grid-top">
        <div class="smallTopImageBlock">
          <img class="ProfileImage" [src]="imageSrc" (click)="selectPhotoType()"/>
        </div>
        <form>
          <div  class="input_background input-model input-model--first">
            <div class="input-padding">
              <input (input)="valuechange($event)" value="{{car.name}}" id="nameAuto{{id}}" type="text" class="input" placeholder="Модель">
            </div>
            <div class="input-icon-block">
              <div class="input-icon">
                
              </div>
            </div>
          </div>
        </form>

        <selectcustom id="{{manufacturerInput}}" icon="&#xe912;" (onChanged)="onChangedManufacturer($event)" title="Производитель" items="{{manufacturers}}"></selectcustom>
        <selectcustom id="{{gearInput}}" icon="&#xe904;" (onChanged)="onChangedGearbox($event)" title="КПП" items="{{gearboxes}}"></selectcustom>
        <selectcustom id="{{categoriesInput}}" icon="B" (onChanged)="onChangedCategory($event)" title="Категория" items="{{categories}}"></selectcustom>
      </div>
      <div class="buttons_block grid-bottom">
        <button (click)="addAuto()" [disabled]="!(isValid())" class="button_dark registration-instructor__button">{{buttonText}}</button>
      </div>
    </div>
  </div>
</div>
<div id="{{id}}add-auto" (click)="showEditors()" class="add-auto">
  <div class="left-image">
    <img class="img" [src]="imageSrc">
  </div>
  <div class="right-body">
    <div class="top">
      <div class="middle-top"><div class="name-auto">{{car.name}}</div> </div>
      <div class="right-top"><div [ngClass]="{showHide:!editMode}" (click)="deleteCar()" class="delete-auto">&#xe913;</div> </div>
    </div>
    <div class="bottom">
      <div class="gear-auto">{{gearTitle[car.gearbox]}}</div>
    </div>
  </div>
</div>
