add-auto {
  .ProfileImage {
    border-radius: 50%; 
  }
  .SelectItem{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow-y: hidden;
    top: 0;
    left: 0;
    z-index: 13;
  }
  .grid-block{
    display: grid;
    padding-top: 15vw;
    grid-template-columns: 100%;
    grid-template-rows: minmax(114.166666vw, auto) 63.611111vw;
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    overflow-y: hidden;
  }
  .showHide{
    display: none;
  }
  .input-model{
    width: 100%;
    // margin-bottom: 6vw;
  }
  .input-model--first {
    margin-top: 10vw;
  }
  .selectAlias{
    width: 100%;
    font-size: 5vw;
    color: black;
    background: #fff;
    border: none;
  }
  .headerDiv{
    width: 100%;
    display: flex;
  }
  .selectedItem{
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-x: auto;
  }
  .item{
    width: 100%;
    height: 20vw;
    background: #fff;
    display: flex;
  }
  .iconBlock{
    flex: 1;
    display: flex;
    height: 100%;
  }
  .icon{
    font-family: iconmoon;
    font-size: 3vh;
    display: block;
    margin: auto auto;
    padding-left: 2vw;
  }
  .titleBlock{
    flex: 12;
    height: 100%;
    display: flex;
  }
  .titleItem{
    margin: auto 0;
    font-family: Roboto-Light;
    color: #000;
    display: block;
    font-size: 8vw;
    text-align: left;
    padding-left: 6vw;
  }
  .header{
    //-webkit-box-shadow: 0 0.5em 0.5em 0 rgba(50, 50, 50, 0.75);
    //-moz-box-shadow:    0 0.5em 0.5em 0 rgba(50, 50, 50, 0.75);
    //box-shadow:         0 0.5em 0.5em 0 rgba(50, 50, 50, 0.75);
  }
  .header-button{
    font-family: iconmoon;
    font-size: 10vw;
  }
  .toolbar_block{
    width: 100%;
    height: 100%;
  }
  .title-block{
    width: 100%;
    position: absolute;
    z-index: 15;
    height: 15vw;
    top: 0;
    display: flex;
  }
  .title{
    margin: auto auto;
    color: #fff;
    font-size: 7vw;
  }
  .block-button{
    position: absolute;
    height: 15vw;
    width: 15vw;
    left: 0;
    z-index: 20;
    top: 0;
  }
  .block-right-button{
    position: absolute;
    height: 12vw;
    width: 12vw;
    right: 0;
    top: 0;
    z-index: 20;
  }
  .img{
    height: 100%;
  }
  .header-button{
    width: 100%;
    height: 100%;
    background: #5580A3;
    position: relative;
  }
  .header-button:hover:before {
    background: rgba(255,255,255,0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }
  .widthInput{
    width: 60%;
  }
  .left-image{
    width: 25vw;
    display: flex;
  }
  .right-body{
    width: 75vw;
  }
  .add-auto{
    width: 100%;
    height: 25vw;
    margin: 0 auto;
    background: #fff;
    display: flex;
    margin-bottom: 0.5em;
    -webkit-box-shadow: 0 0 0.7vh 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 0.7vh 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 0.7vh 0 rgba(50, 50, 50, 0.75);
  }
  .top{
    width: 100%;
    height: 12vw;
    display: flex;
  }
  .middle-top{
    flex: 8;
    border-bottom: solid 1px #8A8A8A;
  }
  .right-top{
    flex: 1;
  }
  .bottom{
    width: 100%;
    height: 12vw;
    display: flex;
  }
  .right-top{
    display: flex;
  }
  .delete-auto{
    margin: auto auto;
    font-family: iconmoon;
    font-size: 5vw;
    cursor: pointer;
    color: #DB5B44;
  }
  .middle-top{
    display: flex;
  }
  .name-auto{
    margin: auto 0;
    font-size: 5vw;
    color: #000;
  }
  .gear-auto{
    margin: auto 0;
    font-size: 5vw;
    color: black;
  }
  .left-image .img{
    width:23vw;
    border-radius: 100%;
    height: 23vw;
    margin: auto auto;
  }
  .registration-instructor__button {
    margin-top: 17vw;
  }
}
