page-editprofileinstructor{
  .Resultbody{
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .scroll-content{
    //padding-top: 12vw !important;
  }
  .instructorPhotoBlock{
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    border-radius: 50%;
  }
  .instructorPhoto{
    width: 100%;
    margin: auto auto;
    border-radius: 50%; 
  }
  .input_login_backgound{
    margin-top: 5vw;
  }
  .input_password_backgound {
    margin-top: 3vw;
  }
  .select-width{
    width: 90%;
    margin: 0 auto;
    margin-top: 3vw;
    .selectAlias{
      color: #000;
    }
  }
}
