<customheader middleButtonSymbol="" rightButtonSymbol="" (onBack)="closePage()" (onMiddleButton)="saveProfile()" (onRightButton)="logout()" title="Профиль"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="instructorPhotoBlock">
        <img class="instructorPhoto" [src]="imageSrc" (click)="selectPhotoType()"/>
      </div>
      <form [formGroup] = "RegisterInstructor">
        <div class="input_background input_login_backgound">
          <div class="input-padding">
            <input class="input input_login" value="{{fio}}" formControlName="name">
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe911;
            </div>
          </div>
        </div>
        <div class="input_background input_password_backgound">
          <div class="input-padding">
            <input (focus)="focusMask(tel)" class="input input_login" value="{{phone}}" formControlName="tel" [textMask]="{mask: mask}" #tel>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe90b;
            </div>
          </div>
        </div>
        <div class="select-width">
          <selectcustom id={{this.profileData.startworkyear}} alias="{{startYearAlias}}" icon="&#xe910;" (onChanged)="onSelectChangeStart($event)" title="Стаж" items="{{start_teachingString}}"></selectcustom>
        </div>
        <div class="select-width">
          <selectcustom id={{this.profileData.birthyear}} alias="{{birthYearAlias}}" icon="&#xe901;" (onChanged)="onSelectChangeBirth($event)" title="Возраст" searchtitle="Год рождения" items="{{birthdayString}}"></selectcustom>
        </div>
        <div class="select-width">
          <selectcustom id={{this.profileData.sex}} alias="{{sexString}}" icon="&#xe905;" (onChanged)="onSelectChangedSex($event)" title="Пол" items="{{sexs}}"></selectcustom>
        </div>
        <div class="select-width">
          <selectcustom findSymbol="&#xe909;" icon="&#xe906;" (onChanged)="onSelectChangedCity($event)" alias="{{cityAlias}}" title="Город" items="{{cities}}"></selectcustom>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_dark" (click)="viewAuto()">Автомобили</button>
    </div>
  </div>

</ion-content>

