page-autorizations {
  .input_login_backgound{
    margin-top: 10vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .href_button_block{
    display: block;
    width: 100%;
    margin-top: 5vw;
  }
  .hrefbutton{
    color: #5580A3;
    margin: 0 auto;
    text-decoration: underline;
    background: none;
    display: block;
    font-size: 4vw;
  }
  .autorizations__user-img {
    font-family: iconmoon;
    font-size: 10vw;
    color: white;
    margin: auto auto;
    width: 100%;
    height: 100%;
  }
  .autorizations__user-img img {
    width: 100%;
    height: 100%;
  }
  .buttons_block {
    position: absolute;
    bottom: 0;
  }
}
