<customheader showBackButton='{{showBackButton}}' (onBack)="closePage()" (onRightButton)="rightButton()" title="Авторизация"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="smallTopImageBlock">
        <div class="autorizations__user-img">
          <img  src='assets/imgs/chel.svg'/>
        </div>
      </div>
      <form [formGroup] = "AutorizationForm">
        <div class="input_background input_login_backgound">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(1)" (focus)="focusMask(phone)" [textMask]="{mask: mask}" formControlName="tel" type="tel" class="input input_login" placeholder="Телефон" #phone/>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe911;
            </div>
          </div>
        </div>
        <div  class="input_background input_password_backgound">
          <div class="input-padding">
            <input  (keyup.enter)="focusNext(2)" formControlName="password" type="password" class="input" placeholder="Пароль" #passwordItem>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe907;
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_light" (click)="openPage('registration')">Зарегистрироваться</button>
      <button [disabled]="!AutorizationForm.valid" class="button_dark" (click)="Autorization()">Войти</button>
      <div class="href_button_block">
        <button class="hrefbutton" (click)="openPage('requestChangePassword')">Забыли пароль?</button>
      </div>
    </div>
  </div>
</ion-content>
