// input {
//   color: transparent !important;
//   text-shadow: 0 0 0 black;
// }
// .app-root:before {
//   top: 0;
//   left: 0;
//   width: 1px;
//   height: 1px;
//   position: absolute;
//   background: #5580A3;
//   content: '';
//   z-index: 1;
// }
.scroll-content{
  overflow-y:auto !important;
}
input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
  padding: 0px;
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading-wrapper {
  background: none !important;
  box-shadow: none !important;
}

.backdrop-no-tappable {
  opacity: 0 !important;
}
@font-face {
  font-family: Roboto; /* Гарнитура шрифта */
  src: url(../assets/fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Roboto-Light; /* Гарнитура шрифта */
  src: url(../assets/fonts/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: iconmoon;
  src: url("../assets/fonts/icomoon.ttf");
}
*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body{
  color: #000;
  background: #fff;
}
.content_body{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(114.166666vw, auto) 63.611111vw;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  padding-top: 15vw;
}
.popup-validation{
  display: none;
}
.popup-validation-block{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  display: flex;
}
.popup-validation-body{
  width: 90vw;
  height: 50vw;
  margin: auto auto;
  background: #fff;
  border-radius: 4vw;
}
.popup-validation-title-block{
  height: 60%;
  width: 100%;
  display: flex;
}
.popup-validation__title{
  margin: auto auto;
  font-size: 5vw;
  text-align: center;
  padding: 0 3vw;
}
.popup-validation-button-block{
  width: 100%;
  height: 40%;
  display: flex;
}
.popup-validation__button{
  font-size: 6vw;
  //padding-left: 2vw;
  //padding-right: 2vw;
  background: #5580A3;
  width: 60%;
  height: 50%;
  margin: auto auto;
  color: #fff;
  border-radius: 6vw;
}
.popup-comment{
  display: none;
}
.popup-comment-block{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  display: flex;
}
.popup-comment-body{
  width: 90vw;
  height: 50vw;
  margin: auto auto;
  background: #fff;
  border-radius: 4vw;
}
.popup-comment-title-block{
  height: 60%;
  width: 100%;
  display: flex;
}
.popup-comment__title{
  margin: auto auto;
  font-size: 5vw;
  text-align: center;
  padding: 0 2vw;
}
.popup-comment-button-block{
  width: 100%;
  height: 40%;
  display: flex;
}
.popup-comment__button{
  font-size: 6vw;
  //padding-left: 2vw;
  //padding-right: 2vw;
  background: #5580A3;
  width: 42.5%;
  height: 50%;
  margin: auto 2.5% auto 5%;
  color: #fff;
  border-radius: 6vw;
}
.popup-comment__button--white {
  color: black;
  background: white;
  border: 1px solid #5580A3;
}
.popup-comment__button:last-child{
  margin: auto 5% auto 2.5%;
}
.popup-question{
  display: none;
}
.popup-question-block{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  display: flex;
}
.popup-question-body{
  width: 90vw;
  height: 50vw;
  margin: auto auto;
  background: #fff;
  border-radius: 4vw;
}
.popup-question-title-block{
  height: 60%;
  width: 100%;
  display: flex;
  padding: 0 2vw;
}
.popup-question__title{
  margin: auto auto;
  font-size: 5vw;
  text-align: center;
}
.popup-question-button-block{
  width: 100%;
  height: 40%;
  display: flex;
}
.popup-question__button--white {
  background: white !important;
  border: 1px solid #5580A3;
  color: black !important;
}
.popup-question__button{
  font-size: 6vw;
  //padding-left: 2vw;
  //padding-right: 2vw;
  background: #5580A3;
  width: 42.5%;
  height: 50%;
  margin: auto 2.5% auto 5%;
  color: #fff;
  border-radius: 8vw;

}
.popup-question__button:last-child {
  margin: auto 5% auto 2.5%;
}

.popup-photosource{
  display: none;
}
.popup-photosource-block{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  display: flex;
}
.popup-photosource-body{
  width: 90vw;
  height: 60vw;
  margin: auto auto;
  background: #fff;
  border-radius: 4vw;
}
.popup-photosource-title-block{
  height: 40%;
  width: 100%;
  display: flex;
}
.popup-photosource__title{
  margin: auto auto;
  font-size: 5vw;
  text-align: center;
}
.popup-photosource-button-block{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.popup-photosource__button{
  font-size: 6vw;
  //padding-left: 2vw;
  //padding-right: 2vw;
  background: #5580A3;
  width: 80%;
  height: 50%;
  margin: auto auto;
  color: #fff;
  border-radius: 8vw;
  margin-bottom: 2vw;
  border: 1px solid #5580A3;
}
.popup-photosource__button--white {
  color: black;
  background: white;
}


.button_dark{
  background: #5580A3;
  font-size:6vw;
  color: #fff;
  padding: 0 1.1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  //height: 4rem;
  margin: 0 auto;
  display:block;
  height: 13vw;
  margin-bottom: 4vw;
  width: 90%;
  border-radius: 8vw;
}
.buttons_block{
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
}
.button_light{
  background: #fff;
  font-size:6vw;
  color: #000;
  padding: 0 1.1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  //height: 4rem;
  border-radius: 8vw;
  border: solid 1px #5580A3;
  margin: 0 auto;
  height: 13vw;
  margin-bottom: 4vw;
  display:block;
  width: 90%;
}
input {
  cursor: none;
}
.input_background{
  width: 90%;
  border-bottom: solid 1px #8C8C8C;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: #fff;
  display: flex;
}
.input-padding{
  flex: 15;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}
.showHide{
  display: none;
}
.topScroll{
  margin-top: 0 !important;
}
.input{
  width: 100%;
  font-size: 5vw;
  color: #000;
  background: #fff;
  border: none;
  line-height: 6vw;
}
.input-icon-block{
  flex: 1;
  display: flex;
}
.input-icon{
  font-family: iconmoon;
  font-size: 6vw;
  color: #8C8C8C;
  margin: auto auto;
}
.disablebuttonBlock{
  display: none;
}
.header{
  width: 100%;
  height: 8vh;
  background: #5580A3;
  position: absolute;
  top: 0;
  z-index: 99;
}
.selectHeader{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logoImageBlock{
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  margin-top: 1vw;
  display: flex;
}
.logoImage{
  width: 90%;
  margin: auto auto;
}
.smallTopImageBlock{
  width: 25vw;
  height: 25vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 5vw;
  margin-top: 5vw;
  background: #8C8C8C;
  border-radius: 100%;
}
.smallTopImage{
  width: 50%;
  margin: auto auto;
}
.bigTextLine{
  text-align:center;
  font-size: 18vw;
  color: #8C8C8C;
  margin-top: 8%;
}
.smallTextLineFirst{
  text-align:center;
  font-size: 6vw;
  margin-top: 15%;
}
.smallTextLine{
  text-align:center;
  font-size: 6vw;
}
.smallTextLineMargin{
  text-align:center;
  font-size: 6vw;
  margin-top: 6%;
}
.grid-bottom{
  height: 45vw;
}
.grid-top{
  // overflow-y: auto;
  min-height: 63.611111vw;
}
