<ion-nav [root]="root"></ion-nav>
<div id="popup-block">
  <div id="popup-validation" class="popup-validation">
    <div  class="popup-validation-block">
      <div class="popup-validation-body">
        <div class="popup-validation-title-block">
          <div id="popup-validation__title" class="popup-validation__title">

          </div>
        </div>
        <div class="popup-validation-button-block">
          <button id="popup-validation__button" class="popup-validation__button">
            ОК
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="popup-comment-block">
  <div id="popup-comment" class="popup-comment">
    <div  class="popup-comment-block">
      <div class="popup-comment-body">
        <div class="popup-comment-title-block">
          <div id="popup-comment__title" class="popup-comment__title">
            Для выставления оценки необходимо оставить отзыв
          </div>
        </div>
        <div class="popup-comment-button-block">
          <button id="popup-comment__button_ok" class="popup-comment__button">
            ОК
          </button>
          <button id="popup-comment__button_cancel" class="popup-comment__button popup-comment__button--white">
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="popup-question-block">
  <div id="popup-question" class="popup-question">
    <div  class="popup-question-block">
      <div class="popup-question-body">
        <div class="popup-question-title-block">
          <div id="popup-question__title" class="popup-question__title">
          </div>
        </div>
        <div class="popup-question-button-block">
          <button id="popup-question__button_yes" class="popup-question__button">
            Да
          </button>
          <button id="popup-question__button_no" class="popup-question__button popup-question__button--white">
            Нет
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup-photosource-block">
  <div id="popup-photosource" class="popup-photosource">
    <div  class="popup-photosource-block">
      <div class="popup-photosource-body">
        <div class="popup-photosource-title-block">
          <div id="popup-photosource__title" class="popup-photosource__title">
            Выберите источник фотографии
          </div>
        </div>
        <div class="popup-photosource-button-block">
          <button id="popup-photosource__button_galary" class="popup-photosource__button">
            Выбрать из галереи
          </button>
          <button id="popup-photosource__button_camera" class="popup-photosource__button">
            Сделать снимок
          </button>
          <button id="popup-photosource__button_cancel" class="popup-photosource__button popup-photosource__button--white">
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
