<customheader (onBack)="closePage()" (onRightButton)="rightButton()" title="Восстановление"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="invisible-block">1</div>
      <div class="lineBlock">
        <div class="line">На ваш мобильный телефон будет</div>
        <div class="line">отправлен код, введите его, чтобы</div>
        <div class="line">восстановить пароль</div>
      </div>
      <form [formGroup] = "RegisterInstructor" (ngSubmit)="logForm()">
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (focus)="focusMask(phone)" (keyup.enter)="closeKeyboard()" [textMask]="{mask: mask}" formControlName="tel" type="tel" class="input inputPassword" placeholder="Телефон" #phone>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button [disabled]="!RegisterInstructor.valid" class="button_dark button--with-margin" (click)="sendCode()">Прислать код</button>
    </div>
  </div>
</ion-content>
