page-registationstudent {
  .input_background_registration{
    margin-top: 3vw;
  }
  .input_background_registration--first{
    margin-top: 10vw;
  }
  .body{
    background: #fff;
  }
  .input{
    color: black;
  }
  .registration-user__button {
    margin-top: 17vw;
  }
  .registrationstudent__user-img {
    font-family: iconmoon;
    font-size: 10vw;
    color: white;
    margin: auto auto;
  }
  .registrationstudent__user-img img {
    width: 100%;
    height: 100%;
  }
  .grid-top_reg1 {
    position: absolute;
    top: 15vw;
    width: 100%;
  }
}
