<customheader (onBack)="closePage()" title="Регистрация"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top_reg1">
      <form [formGroup] = "RegisterStudent" (ngSubmit)="logForm()">
        <div class="smallTopImageBlock">
          <div class="registrationstudent__user-img">
            <img  src='assets/imgs/chel.svg'/>
          </div>
        </div>
        <div class="input_background input_background_registration input_background_registration--first">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(1)" formControlName="name" type="text" class="input inputPassword" placeholder="Имя и фамилия" required/>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe911;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (focus)="focusMask(tel)" [textMask]="{mask: mask}" (keyup.enter)="focusNext(2)" formControlName="tel" type="tel" class="input input_login" placeholder="Телефон"  #tel required/>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe90b;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(3)" formControlName="password" type="password" class="input inputPassword" placeholder="Пароль" required #passwordItem>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe907;
            </div>
          </div>
        </div>
        <div class="input_background input_background_registration">
          <div class="input-padding">
            <input (keyup.enter)="focusNext(4)" formControlName="confirmPassword"  type="password" class="input inputPassword" placeholder="Подтверждение" required #confirmItem>
          </div>
          <div class="input-icon-block">
            <div class="input-icon">
              &#xe907;
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons_block grid-bottom">
      <button [disabled]="!RegisterStudent.valid" type="button" class="button_dark registration-user__button" (click)="Registration()">Далее</button>
    </div>
  </div>
</ion-content>
