page-resultsearch{
  .Resultbody{
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .scroll-content{
    overflow-y: hidden;
  }
  .all-instructor-items{
    height: 100vh;
    top: 0;
    padding-top: 15vw;
    overflow-y: auto;
  }
  .InstructorItem{
    display: flex;
    box-shadow: 0 0 0.7vh 0 rgba(50, 50, 50, 0.75);
    margin-top: 0.5em;
    height: 30vw;
  }
  .InstructorItem:first-child{
    margin-top: 0;
  }
  .PhotoItem{
    height: 25vw;
    width: 23vw;
    margin: auto;
    display: flex;
  }
  .photo-flex-block{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .photo{
    width: 100%;
    margin: auto auto;
    border-radius: 100vw;
  }
  .leftItem{
    flex-grow: 0;
    flex-shrink: 0;
    width: 25vw;
    margin-top: 2vw;
    //border: solid 1px #000;
  }
  .RightItem{
    flex: 1;
    padding: 1vw 1vw 1vw 0;
  }
  .topRightItem{
    color: #000;
    height: 7vw;
    display: inline-block;
    padding-right: 6vw;
    font-size: 3vh;
    border-bottom: solid 1px #CCCCCC;
    width: 100%;
  }
  .bottomRightItem{
    display: flex;
    width: 100%;
    height: 18vw;
    color: #0D6B82;
    font-size: 3vh;
  }
  .leftBottomItem{
    flex: 2;
  }
  .rightBottomItem{
    flex: 1;
  }
  .leftBottomItemAuto{
    height: 9vw;
    display: flex;
    color: #8C8C8C;
  }
  .leftBottomItemKPP{
    height: 9vw;
    display: flex;
    color: #8C8C8C;
  }
  .text-block{
    flex: 1;
    display: flex;
  }
  .text{
    margin: auto 0;
  }
  .like-dislike-block{
    flex: 1;
    float: right;
    display: flex;
    align-items: center;
  }
  .like{
    flex: 1;
    display: flex;
    font-size: 5vw;
    padding-right: 5vw;
    padding-left: 5vw;
    color: #0D6B82;
  }
  .dislike{
    display: flex;
    font-size: 5vw;
    flex: 1;
  }
  .icon-like{
    font-family: iconmoon;
    margin-right: 3vw;

  }
  .icon-dislike{
    font-family: iconmoon;
    margin-right: 3vw;
  }
  .loader {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
