<customheader rightButtonSymbol="{{logoutsrc}}" (onBack)="closePage()" (onRightButton)="logout()" title="Поиск инструктора"></customheader>
<ion-content class="Resultbody">
  <div (scroll)="scroll()" id="all-instructor-items" class="all-instructor-items" #scrollBlock>
    <div *ngFor = 'let item of data' (click)="openPage(item.id)" class="InstructorItem">
      <div *ngIf="item == 'loader'" class="loader">
        <object style='animation: spinner 1s infinite linear; width:36px; height:36px;' data='assets/imgs/spinner.svg' type='image/svg+xml'></object>
      </div>
      <div *ngIf="item != 'loader'" class="leftItem">
        <div class="PhotoItem">
          <div class="photo-flex-block">
            <img class="photo" src="assets/imgs/tachka.svg" *ngIf="!item.photo_md5">
            <img class="photo" src="{{serverAddr}}{{item.photo_url}}" *ngIf="item.photo_url">
          </div>
        </div>
      </div>
      <div *ngIf="item != 'loader'" class="RightItem">
        <div class="topRightItem">
          {{item.fio}}
        </div>
        <div class="bottomRightItem">
          <div class="leftBottomItem">
            <div class="leftBottomItemAuto">
              <div class="text">{{item.carname}}</div>
            </div>
            <div class="leftBottomItemKPP">
              <div class="text-block"><div class="text">{{item.gearbox}}</div></div>
              <div class="like-dislike-block">
                <div class="like"><div class="icon-like">&#xe90e;</div><div>{{item.likes}}</div></div>
                <div class="dislike"><div class="icon-dislike">&#xe90f;</div><div>{{item.dislikes}}</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

