<customheader (onBack)="closePage()"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="logoImageBlock">
        <img class="logoImage" src="assets/imgs/teapot.png"/>
      </div>
      <div class="bigTextLine">ЧАЙНИК</div>
    </div>
    <div class="buttons_block grid-bottom">
      <button class="button_light" (click)="openPage('autorizationsPage')">Войти</button>
      <button class="button_dark" (click)="openPage('searchInstructor')">Найти инструктора</button>
    </div>
  </div>
</ion-content>
