<customheader *ngIf="!firstCarEdit" (onBack)="closePage()" title="Регистрация"></customheader>

<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div *ngIf="!firstCarEdit" class="auto-block">
        <add-auto editMode="true" (onDelete)="delete($event)" (onChangeAuto)="addAutoValue($event, i)"
          id="{{i}}"
          name="{{car.name}}"
          vehicle_type="{{car.vehicle_type}}"
          gearbox={{car.gearbox}}
          manufacturer={{car.manufacturer}}
          photo={{car.photo}}
          immideatelyEdit={{car.immideatelyEdit}}
          firstCarEdit={{firstCarEdit}}
        *ngFor="let car of cars; let i = index"></add-auto>
      </div>
      <div *ngIf="firstCarEdit && cars.length > 0" class="auto-block">
        <add-auto editMode="true" (onDelete)="delete($event)" (onChangeAuto)="addAutoValue($event, 0)"
          id="{{0}}"
          name="{{cars[0].name}}"
          vehicle_type="{{cars[0].vehicle_type}}"
          gearbox={{cars[0].gearbox}}
          manufacturer={{cars[0].manufacturer}}
          photo={{cars[0].photo}}
          immideatelyEdit={{cars[0].immideatelyEdit}}
          firstCarEdit={{firstCarEdit}}
        ></add-auto>
      </div>
    </div>
    <div *ngIf="!firstCarEdit" class="buttons_block grid-bottom regInstr3Buttons">
      <button class="button_light" (click)="addAuto()">Добавить автомобиль</button>
      <button class="button_dark" (click)="openPage('next')">ОК</button>
    </div>
  </div>
</ion-content>
