<div *ngIf="clickCheck" class="SelectItem">
  <div class="header">
    <div class="toolbar_block">
      <div class="block-button">
        <button (click)="hideFunc()" class="header-button">
          <div class="img">&#xe900;</div>
        </button>
      </div>
      <div class="title-block">
        <div *ngIf="!checkSearch" class="title">{{searchtitle}}</div>
        <div *ngIf="checkSearch" (after-if)="afterIf(searchinput)" class="input_background widthInput search-input-padding">
          <div class="input-padding">
            <input (input)="valuechange($event)" placeholder="Город" type="text" class="input search-input" #searchinput>
          </div>
        </div>
      </div>
      <div [ngClass]="{showHide:!showFindSymbol}" class="block-right-button">
        <button (click)="rightButton()" class="header-button">
          <div class="img">{{findSymbol}}</div>
        </button>
      </div>
    </div>
  </div>
  <div  class="selectedItem" (scroll)="scroll()">
    <div *ngFor="let item of showItems"  class="item" (click)="selected(item)">
      <div class="iconBlock">
        <div *ngIf="item.id != selectedItems" class="icon">&#xea56;</div>
        <div *ngIf="item.id == selectedItems" class="icon">&#xea54;</div>
      </div>
      <div class="titleBlock">
        <div class="titleItem">{{item.title}}</div>
      </div>
    </div>
  </div>
</div>
<div (click)="showFunc()" class="select">
  <div class="input-padding">
    <div class="selectAlias" *ngIf="showValue">{{showingText}}</div>
    <div class="placeholderAlias" *ngIf="!showValue">{{showingText}}</div>
  </div>
  <div class="input-icon-block">
    <div class="input-icon">
      {{icon}}
    </div>
  </div>
</div>
