selectcustom {
  .SelectItem{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 13;
  }
  .showHide{
    display: none;
  }
  .select{
    width: 100%;
    border-bottom: solid 1px #8C8C8C;
    margin: 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: #fff;
    display: flex;
    margin-top: 3vw; 
    // margin-bottom: 5vw;
  }
  .selectAlias{
    width: 100%;
    font-size: 5vw;
    color: black;
    background: #fff;
    border: none;
  }
  .placeholderAlias{
    width: 100%;
    font-size: 5vw;
    color: #8F8F8F;
    background: #fff;
    border: none;
  }
  .headerDiv{
    width: 100%;
    display: flex;
  }
  .selectedItem{
    padding-top: 15vw;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-x: auto;
  }
  .item{
    width: 100%;
    height: 12vw;
    background: #fff;
    display: flex;
  }
  .iconBlock{
    flex: 1;
    display: flex;
    height: 100%;
  }
  .icon{
    font-family: iconmoon;
    font-size: 5vw;
    display: block;
    margin: auto auto;
    color: #5580A3;
    padding-left: 2vw;
  }
  .titleBlock{
    flex: 12;
    height: 100%;
    display: flex;
  }
  .titleItem{
    margin: auto 0;
    font-family: Roboto-Light;
    color: #000;
    display: block;
    font-size: 6vw;
    text-align: left;
    padding-left: 3vw;
  }
  .header{
    width: 100vw;
    height: 15vw;
  }
  .header-button{
    font-family: iconmoon;
    font-size: 8vw;
  }
  .toolbar_block{
    width: 100%;
    height: 100%;
  }
  .title-block{
    width: 100%;
    position: absolute;
    z-index: 15;
    height: 15vw;
    top: 0;
    display: flex;
    align-items: center;
  }
  .title{
    margin: auto auto;
    color: #fff;
    font-size: 6vw;
  }
  .block-button{
    position: absolute;
    height: 15vw;
    width: 15vw;
    left: 0;
    z-index: 20;
    top: 0;
  }
  .block-right-button{
    position: absolute;
    height: 12vw;
    width: 12vw;
    right: 0;
    top: 0;
    z-index: 20;
  }
  .img{
    font-family: iconmoon;
    margin: auto auto;
    font-size: 5vw;
    color: #fff;
  }
  .header-button{
    width: 15vw;
    height: 15vw;
    display: flex;
    background: #5580A3;
    position: absolute;
    right: 0;
  }
  .header-button:hover:before {
    background: rgba(255,255,255,0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }
  .widthInput{
    width: 60%;
  }
  .search-input{
    color: black;
    background: #white;
    padding: 0.1em;
  }
  .search-input-padding{
    background: #5580A3;
    width: 76vw;
    border-bottom: 0;
  }
}
