page-careditview{
  .input_login_backgound{
    margin-top: 10vw;
  }
  .content_body{
    overflow: hidden;
    width: 100vw;
    height: 100%;
    padding-top: 15vw;
  }
  .input_password_backgound{
    margin-top: 3vw;
  }
  .input_background_registration{
    margin-top: 3vw;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  .item-block{
    min-height: 10vw;
    height: 10vw !important;
    padding-left: 5%!important;
    border-radius: 3em !important;
  }
  .item-inner{
    height: 10vw !important;
    padding-right: 2% !important;
  }
  .selectYear{
    width: 100%;
    font-size: 4.5vw;
    color: #0D6B82;
    background: #fff;
    border: none;
    flex: 1;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .label{
    font-size: 5vw;
    font-family: Roboto-Light, "Helvetica Neue", sans-serif !important;
    color: #0D6B82 !important;
    flex: 12;
  }
  .select-icon-inner{
    color: #0D6B82!important;
  }
  .select-text{display: none!important;}
  .text-input{
    min-height: 20vh!important;
  }
  .auto-block{
    height: 90vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .text-input::placeholder{
    color: #0D6B82;
  }
}
