<customheader (onBack)="backToProfile()" title="Автомобили"></customheader>
<ion-content class="body">
  <div class="content_body">
    <div class="grid-top">
      <div class="auto-block">
        <add-auto editMode="{{editMode}}" (onDelete)="delete($event)" (onChangeAuto)="addAutoValue($event, i)"
          id="{{i}}"
          name="{{car.name}}"
          vehicle_type="{{car.vehicle_type}}"
          gearbox={{car.gearbox}}
          manufacturer={{car.manufacturer}}
          photo={{car.photo}}
          immideatelyEdit={{car.immideatelyEdit}}
          title="Редактирование"
          *ngFor="let car of cars; let i = index"></add-auto>
      </div>
    </div>
    <div *ngIf="editMode" class="buttons_block grid-bottom carEditButtons">
      <button class="button_light" (click)="addAuto()">Добавить автомобиль</button>
      <button class="button_dark" (click)="backToProfile()">Профиль</button>
    </div>
  </div>
</ion-content>
