comment {
  .comments-block{
    background: #fff;
    width: 100%;
    height: 100%;
  }
  .comments-item{
    width: 100%;
    height: 100%;
    padding-top: 12vw;
  }
  .comment{
    width: 100%;
    margin: 0 auto;
    margin-top: 2vw;
    padding-bottom: 1vw;
  }
  .title-item{
    margin: auto 0;
    font-size: 5vw;
  }
  .title-block{
    width: 90%;
    margin: 0 auto;
    height: 15vw;
    border-bottom: solid 1px #8C8C8C;
    display: flex;
  }
  .text{
    //white-space: nowrap;
    color: #8C8C8C;
    width: 100%;
  }
  .comment-item{
    width: 90%;
    margin: 0 auto;
  }
}
