<div class="comments-block">
  <customheader (onBack)="closePage()" (onRightButton)="rightButton()" title="Отзывы"></customheader>
  <div  class="comments-item">
    <div   class="comment">
      <div class="title-block">
        <div class="title-item">
          {{student}}
        </div>
      </div>
      <div class="comment-block">
        <div class="comment-item">
          <p class="text">{{review}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

