<div  class="comments-block">
  <customheader rightButtonSymbol="{{writecommentsrc}}" (onBack)="closePage()" (onRightButton)="rightButton()" title="Отзывы"></customheader>
  <div class="grid-block">
    <div (scroll)="scroll()" id="comments-item" class="comments-item">
      <div *ngFor="let review of reviewArray" class="comment" (click)="selected(review)">
        <div class="title-block">
          <div class="title-item">
            {{review.student}}
          </div>
        </div>
        <div class="comment-block">
          <div class="comment-item">
            <p class="text">{{review.review}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="checkReview" (after-if)="focusInput(review)" class="input-main-block">
      <div class="input-block">
        <div (input)="valuechange($event)" contenteditable="true" (keyup.enter)="sendReview(review)" class="input"  #review></div>
      </div>
      <div [ngClass]="{showHide:checkFocus}" (click)="focusInput(review)" class="input-block-placeholder">
        <div class="input-placeholder">
          Напишите сообщение...
        </div>
      </div>
      <div (click)="sendReview(review)" class="send-button">
        <div class="send-button-icon">
          
        </div>
      </div>
    </div>
  </div>

</div>


