comments {
  .comments-block{
    background: #fff;
    width: 100%;
    height: 100%;
  }
  .comments-item{
    width: 100%;
    min-height: 50vh;
    display: block;
    overflow-y: auto;
  }
  .comment-item-review{
    padding-bottom: 12vw;
  }
  .comment{
    width: 100%;
    margin: 0 auto;
    margin-top: 2vw;
    height: auto;
    padding-bottom: 1vw;
    padding-left: 0;
    -webkit-box-shadow: 0.2em 0.2em 0.2em 0 #8C8C8C;
    -moz-box-shadow:    0.2em 0.2em 0.2em 0 #8C8C8C;
    box-shadow:         0.2em 0.2em 0.2em 0 #8C8C8C;
  }
  .title-item{
    margin: auto 0;
    font-size: 5vw;
  }
  .title-block{
    width: 90%;
    margin: 0 auto;
    height: 15vw;
    border-bottom: solid 1px #8C8C8C;
    display: flex;
  }
  .text{
    overflow: hidden;
    color: #8C8C8C;
    width: 100%;
    height: 5rem;
    position: relative;
  }
  .text::before {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.67rem;
    width: 50%;
    content: '';
    //background: linear-gradient(to right, transparent, white 70%, white);
}
  .comment-item{
    width: 90%;
    margin: 0 auto;
  }
  .send-button{
    flex: 1;
    width: 12vw;
    height: 12vw;
    display: flex;
  }
  .input-main-block{
    width: 100%;
    display: flex;
    padding-top: 1vw;
    background: #fff;
    border-top: solid 1px #8C8C8C;
  }
  .input-block{
    flex: 8;
    height: auto;
  }
  .input{
    width: 100%;
    display: block;
    padding: 4vw;
    min-height: 12vw;
    max-height: 22vw;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 5vw;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    color: #000000;
  }
  .send-button-icon{
    margin: auto auto;
    font-family: iconmoon;
    font-size: 5vw;
  }
  .input-placeholder{
    color: #8C8C8C;
    font-size: 5vw;
    position: absolute;
    padding-left: 6vw;
    padding-bottom: 3vw;
    margin: 0;
    left: 0;
    bottom: 0;
  }
  .grid-block{
    padding-top: 12vw;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: minmax(50vh,100vh) auto;
  }
  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }
}
